﻿<!DOCTYPE html>
<html>
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="150 words">
    <meta name="author" content="uipasta">
    <meta name="url" content="http://www.yourdomainname.com">
    <meta name="copyright" content="company name">
    <meta name="robots" content="index,follow">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>@ViewBag.Title Arong Dairy</title>

    
    <link rel="shortcut icon" href="~/Content/Image/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="144x144" type="image/x-icon" href="~/Content/Image/favicon/apple-touch-icon.png">
    <link href="~/Content/CSS/plugin.css" rel="stylesheet" />
    <link href="~/Content/CSS/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">

    <link href="~/Content/Bootstrap/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="~/Content/CSS/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
    <link href="~/Content/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/dist/css/skins/_all-skins.min.css" rel="stylesheet" />
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
   
    
   
    
    <link href="~/Content/CSS/blue.css" rel="stylesheet" />

    <link href="~/Content/CSS/morris.css" rel="stylesheet" />
    <link href="~/Content/CSS/datepicker3.css" rel="stylesheet" />
    <link href="~/Content/CSS/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/CSS/bootstrap3-wysihtml5.min.css" rel="stylesheet" />
    
    
    

</head>
<body>


    <!-- Preloader Start -->
    <div class="preloader">
        <p>Loading...</p>
    </div>
    <!-- Preloader End -->

    <!-- Menu Section Start -->
    <header style="padding-bottom: 00px" id="home">

        <div class="header-top-area">
            <div class="container">
                <div class="row">

                    <div class="col-sm-3">
                        <div class="logo">

                            <a class="smoth-scroll" href="#home">Arong Dairy
                                <div class="ripple-wrapper"></div></a>
                        </div>
                    </div>

                    <div class="col-sm-9">
                        <div class="navigation-menu">
                            <div class="navbar">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="active">
                                            <a class="smoth-scroll" href="#home">Home
                                                <div class="ripple-wrapper"></div></a>
                                        </li>
                                        <li>
                                            <a class="smoth-scroll" href="#about">Sells Report</a>
                                        </li>
                                        <li>
                                            <a class="smoth-scroll" href="#portfolio">Product Demand</a>
                                        </li>
                                        <li>
                                            <a class="smoth-scroll" href="#testimonials">Sells Officers Info</a>
                                        </li>
                                        <li>
                                            <a class="smoth-scroll" href="#services">Market Product Analysis</a>
                                        </li>
                                        <li>
                                            <a class="smoth-scroll" href="#contact">Contact</a>
                                        </li>

                                        @*<li>
                                            <a class="smoth-scroll" href="#">Logout</a>
                                        </li>*@
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!-- Menu Section End -->


    
    







    <!-- Body Start -->
    <div class="container body-content">
        
        @RenderBody()
        <hr/>
        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </footer>
    </div>
    <!-- Body End -->
    
    <!-- Footer Start -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <ul class="social-icon margin-bottom-30">
                        <li><a href="#" target="_blank" class="facebook"><i class="icon-social-facebook"></i></a></li>
                        <li><a href="#" target="_blank" class="twitter"><i class="icon-social-twitter"></i></a></li>
                        <li><a href="#" target="_blank" class="google-plus"><i class="icon-social-google"></i></a></li>
                        <li><a href="#" target="_blank" class="instagram"><i class="icon-social-instagram"></i></a></li>
                        <li><a href="#" target="_blank" class="dribbble"><i class="icon-social-dribbble"></i></a></li>
                    </ul>
                </div>

                <div class="col-md-12 uipasta-credit">
                    <p>Design By <a href="http://www.uipasta.com" target="_blank" title="UiPasta">Creative Crew</a></p>
                </div>

            </div>
        </div>
    </footer>
    <!-- Footer End -->

    <!-- Back to Top Start -->
    <a href="#" class="scroll-to-top"><i class="icon-arrow-up-circle"></i></a>
    <!-- Back to Top End -->

    
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugin.js"></script>
    <script type="text/javascript" src="~/Scripts/scripts.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/plugins/fastclick.js"></script>
    <script src="~/Content/dist/js/app.min.js"></script>
    <script src="~/Content/plugins/jquery.sparkline.min.js"></script>
    <script src="~/Content/plugins/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Content/plugins/jquery-jvectormap-world-mill-en.js"></script>

    <script src="~/Content/plugins/jquery.slimscroll.min.js"></script>
    <script src="~/Content/plugins/Chart.min.js"></script>
    <script src="~/Content/dist/js/pages/dashboard2.js"></script>
    <script src="~/Content/dist/js/demo.js"></script>

    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="~/Content/plugins/morris.min.js"></script>

    <script src="~/Content/plugins/jquery.knob.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="~/Content/plugins/daterangepicker.js"></script>
    <script src="~/Content/plugins/bootstrap-datepicker.js"></script>
    <script src="~/Content/plugins/bootstrap3-wysihtml5.all.min.js"></script>
   
    <script src="~/Content/dist/js/pages/dashboard.js"></script>
    
    
    





@RenderSection("scripts", required: false)
</body>
</html>
