﻿@{
    ViewBag.Title = "Home Page";
}

<style>
    #map {
        width: 98%;
        height: 500px;
        background-color: grey;
    }
</style>








<!-- Home Section Start -->
<section class="home-section">
    <div class="container">
        <div class="row">

            <!-- Map Start-->
            <h3>All Registered Store</h3>

            <div id="map"></div>
            <!-- Map End-->

        </div>
        <hr>
        <div class="row">
            <h2>All Registered Shop List</h2>
            
            <table id="myStoreTable" class="table" style="width: 98%">
                <thead>
                    <tr class="info">
                        <th>Shop Name</th>
                        <th>Branch Name</th>
                        <th>Route Id</th>
                        <th>Total Order</th>
                        <th></th>
                    </tr>
                </thead>

                <tfoot>
                    <tr class="danger">
                        <th>Shop Name</th>
                        <th>Branch Name</th>
                        <th>Route Id</th>
                        <th>Total Order</th>
                        <th></th>
                    </tr>
                </tfoot>

                <tbody>
                    <tr>
                        <td><strong>Almas Super Shop</strong></td>
                        <td>Kolabagan</td>
                        <td>K11</td>
                        <td>15000</td>
                        <td style="background: darkslategray">
                            @Html.ActionLink("Details", "Details", new { @class = "btn btn-success" }, new { style = "font-weight:bold;" })
                        </td>
                    </tr>

                    <tr>
                        <td><strong>Agura</strong></td>
                        <td>Lalmatia</td>
                        <td>L11</td>
                        <td>25000</td>
                        <td style="background: darkslategray">
                            @Html.ActionLink("Details", "Details", new { @class = "btn btn-info" }, new { style = "font-weight:bold;" })
                        </td>
                    </tr>

                    <tr>
                        <td><strong>Mina Bazar</strong></td>
                        <td>Jhigatola</td>
                        <td>J11</td>
                        <td>20000</td>
                        <td style="background: darkslategray">
                            @Html.ActionLink("Details", "Details", new { @class = "btn btn-info" }, new { style = "font-weight:bold;" })
                        </td>
                    </tr>

                    <tr>
                        <td><strong>Shopno Store</strong></td>
                        <td>Mohammadpur</td>
                        <td>M11</td>
                        <td>12000</td>
                        <td style="background: darkslategray">
                            @Html.ActionLink("Details", "Details", new { @class = "btn btn-info" }, new { style = "font-weight:bold;" })
                        </td>
                    </tr>

                    <tr>
                        <td><strong>Nondon Shop</strong></td>
                        <td>Mohammadpur</td>
                        <td>M12</td>
                        <td>10000</td>
                        <td style="background: darkslategray">
                            @Html.ActionLink("Details", "Details", new { @class = "btn btn-info" }, new { style = "font-weight:bold;" })
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>


    </div>
</section>
<!-- Home Section End -->

<!-- About Start -->
<section id="about" class="about section-space-padding">
    <div class="container">
        
        <!-- Start Info boxes -->
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="ion ion-ios-pricetag-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Today's Target</span>
                        <span class="info-box-number">90<small>%  Complete</small></span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-briefcase"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Today's Order</span>
                        <span class="info-box-number">5,410</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Sales</span>
                        <span class="info-box-number">4,560</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-bitbucket"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">New Orders</span>
                        <span class="info-box-number">1,000</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- End Info Boxes -->


        <!--Performance Report-->
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title"><strong><>Monthly Recap Report</strong></h3>

                        <strong style="padding-left: 30px; font-size: 20px; color: blueviolet">Select Branch Name</strong>
                        <select>
                            <option value="Lalmatia" style="font-size: 17px">Lalmatia</option>
                            <option value="Jhigatola" style="font-size: 17px">Jhigatola</option>
                            <option value="Mohakhali" style="font-size: 17px">Mohakhali</option>
                            <option value="Kolabagan" style="font-size: 17px">Kolabagan</option>
                        </select>

                        <strong style="padding-left: 30px; font-size: 20px; color: blueviolet">Select Product</strong>
                        <select>
                            <option value="Lalmatia" style="font-size: 17px">Pasteurized Milk</option>
                            <option value="Jhigatola" style="font-size: 17px">UHT Milk</option>
                            <option value="Mohakhali" style="font-size: 17px">Ghee</option>
                            <option value="Kolabagan" style="font-size: 17px">UHT Chocolate Milk</option>
                            <option value="Kolabagan" style="font-size: 17px">Butter</option>
                            <option value="Kolabagan" style="font-size: 17px">FCMP</option>
                        </select>

                        <strong style="padding-left: 30px; font-size: 20px; color: blueviolet">Select Route</strong>
                        <select>
                            <option value="Lalmatia" style="font-size: 17px">R11</option>
                            <option value="Jhigatola" style="font-size: 17px">R12</option>
                            <option value="Mohakhali" style="font-size: 17px">R13</option>
                            <option value="Kolabagan" style="font-size: 17px">R14</option>
                            <option value="Kolabagan" style="font-size: 17px">R15</option>
                            <option value="Kolabagan" style="font-size: 17px">R16</option>
                        </select>

                        <button type="button" class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="Date range">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-8">
                                <p class="text-center">
                                    <strong>Sales: 1 Jan, 2017 - 30 Jul, 2017</strong>
                                </p>
                                <div class="chart">
                                    <!-- Sales Chart Canvas -->
                                    <canvas id="salesChart" style="height: 180px;"></canvas>
                                </div>
                                <!-- /.chart-responsive -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4">
                                <p class="text-center">
                                    <strong> Monthly Target  Completion</strong>
                                </p>
                                <div class="progress-group">
                                    <span class="progress-text">Monthly SKU Target</span>
                                    <span class="progress-number"><b>25000</b>/22000</span>
                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
                                    </div>
                                </div>
                                <!-- /.progress-group -->
                                <div class="progress-group">
                                    <span class="progress-text">Monthly SKU Sells </span>
                                    <span class="progress-number"><b>21000</b>/22000</span>
                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-red" style="width: 80%"></div>
                                    </div>
                                </div>
                                <!-- /.progress-group -->
                                <div class="progress-group">
                                    <span class="progress-text">Monthly Packet Target</span>
                                    <span class="progress-number"><b>5500</b>/6000</span>
                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-green" style="width: 80%"></div>
                                    </div>
                                </div>
                                <!-- /.progress-group -->
                                <div class="progress-group">
                                    <span class="progress-text">Monthly Packet Sells</span>
                                    <span class="progress-number"><b>5000</b>/5500</span>
                                    <div class="progress sm">
                                        <div class="progress-bar progress-bar-yellow" style="width: 80%"></div>
                                    </div>
                                </div>
                                <!-- /.progress-group -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- ./box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block border-right">
                                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 15%</span>
                                    <h5 class="description-header">35,210.43 TK</h5>
                                    <span class="description-text">TOTAL REVENUE</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block border-right">
                                    <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 5%</span>
                                    <h5 class="description-header">10,390.90 TK</h5>
                                    <span class="description-text">TOTAL COST</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block border-right">
                                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 25%</span>
                                    <h5 class="description-header">24,813.53 TK</h5>
                                    <span class="description-text">TOTAL PROFIT</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-3 col-xs-6">
                                <div class="description-block">
                                    <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 65%</span>
                                    <h5 class="description-header">18,813 TK</h5>
                                    <span class="description-text">Target COMPLETIONS</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!--End Performance Report-->

        <!-- Custom tabs (Charts with tabs)-->
        <div class="nav-tabs-custom">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs pull-right">
                <li class="active"><a href="#revenue-chart" data-toggle="tab">Area</a></li>
                <li class="pull-left header"><i class="fa fa-inbox"></i> Sales</li>
            </ul>
            <div class="tab-content no-padding">
                <!-- Morris chart - Sales -->
                <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;"></div>
                <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;"></div>
            </div>
        </div>
    </div>
</section>
<!-- About End -->




<!-- Portfolio Start -->
<section id="portfolio" class="portfolio section-space-padding">
    <div class="container">


        <div class="box-header with-border">
            <strong style="padding-left: 50px; font-size: 20px; color: blueviolet">Select Branch Name</strong>
            <select>
                <option value="Lalmatia" style="font-size: 17px">Lalmatia</option>
                <option value="Jhigatola" style="font-size: 17px">Jhigatola</option>
                <option value="Mohakhali" style="font-size: 17px">Mohakhali</option>
                <option value="Kolabagan" style="font-size: 17px">Kolabagan</option>
            </select>

            <strong style="padding-left: 50px; font-size: 20px; color: blueviolet">Select Product</strong>
            <select>
                <option value="Lalmatia" style="font-size: 17px">Pasteurized Milk</option>
                <option value="Jhigatola" style="font-size: 17px">UHT Milk</option>
                <option value="Mohakhali" style="font-size: 17px">Ghee</option>
                <option value="Kolabagan" style="font-size: 17px">UHT Chocolate Milk</option>
                <option value="Kolabagan" style="font-size: 17px">Butter</option>
                <option value="Kolabagan" style="font-size: 17px">FCMP</option>
            </select>

            <strong style="padding-left: 50px; font-size: 20px; color: blueviolet">Select Route</strong>
            <select>
                <option value="Lalmatia" style="font-size: 17px">R11</option>
                <option value="Jhigatola" style="font-size: 17px">R12</option>
                <option value="Mohakhali" style="font-size: 17px">R13</option>
                <option value="Kolabagan" style="font-size: 17px">R14</option>
                <option value="Kolabagan" style="font-size: 17px">R15</option>
                <option value="Kolabagan" style="font-size: 17px">R16</option>
            </select>

            <button type="button" class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="Date range">
                <i class="fa fa-calendar"></i>
            </button>
        </div>

        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-md-8">

                <div class="row">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Product Demand</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="chart-responsive">
                                        <canvas id="pieChart" height="150"></canvas>
                                    </div>
                                    <!-- ./chart-responsive -->
                                </div>
                                <!-- /.col -->
                                <div class="col-md-4">
                                    <ul class="chart-legend clearfix">
                                        <li><i class="fa fa-circle-o text-red"></i> Pasteurized Milk</li>
                                        <li><i class="fa fa-circle-o text-green"></i> UHT Milk</li>
                                        <li><i class="fa fa-circle-o text-yellow"></i> Ghee</li>
                                        <li><i class="fa fa-circle-o text-aqua"></i> UHT Chocolate Milk</li>
                                        <li><i class="fa fa-circle-o text-light-blue"></i> Butter</li>
                                        <li><i class="fa fa-circle-o text-gray"></i> FCMP</li>
                                    </ul>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer no-padding">
                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                    <a href="#">Dhanmondi<span class="pull-right text-green"><i class="fa fa-angle-up"></i> 12%</span></a>
                                </li>
                                <li>
                                    <a href="#">Uttara <span class="pull-right text-green"><i class="fa fa-angle-up"></i> 4%</span></a>
                                </li>
                                <li>
                                    <a href="#">Banani<span class="pull-right text-yellow"><i class="fa fa-angle-left"></i> 0%</span></a>
                                </li>
                                <li>
                                    <a href="#">Mohakhali<span class="pull-right text-red"><i class="fa fa-angle-down"></i> 2%</span></a>
                                </li>

                            </ul>
                        </div>
                        <!-- /.footer -->
                    </div>


                </div>
                <!-- /.row -->
                <!-- TABLE: LATEST ORDERS -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Latest Order</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>SKU</th>
                                        <th>Quantity</th>
                                        <th>Status</th>
                                        <th>Popularity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td><strong>Pasteurized milk</strong></td>
                                        <td>1000 ml</td>
                                        <td>10</td>
                                        <td><span class="label label-success">Shipped</span></td>
                                        <td>
                                            <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>UHT milk</strong></td>
                                        <td>500 ml</td>
                                        <td>5</td>
                                        <td><span class="label label-warning">Pending</span></td>
                                        <td>
                                            <div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Butter</strong></td>
                                        <td>200 ml</td>
                                        <td>7</td>
                                        <td><span class="label label-danger">Delivered</span></td>
                                        <td>
                                            <div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Ghee</strong></td>
                                        <td>900 gm</td>
                                        <td>7</td>
                                        <td><span class="label label-info">Processing</span></td>
                                        <td>
                                            <div class="sparkbar" data-color="#00c0ef" data-height="20">90,80,-90,70,-61,83,63</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Laban</strong></td>
                                        <td>500 ml</td>
                                        <td>10</td>
                                        <td><span class="label label-warning">Pending</span></td>
                                        <td>
                                            <div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>UHT Chocolate milk</strong></td>
                                        <td>250 ml</td>
                                        <td>10</td>
                                        <td><span class="label label-danger">Delivered</span></td>
                                        <td>
                                            <div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Tamarind Juice</strong></td>
                                        <td>250 ml</td>
                                        <td>5</td>
                                        <td><span class="label label-success">Shipped</span></td>
                                        <td>
                                            <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-right">View All Orders</a>
                        
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4">
                <!-- Info Boxes Style 2 -->
                <div class="info-box bg-yellow">
                    <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Pasteurized Milk</span>
                        <span class="info-box-number">5,200</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%"></div>
                        </div>
                        <span class="progress-description">
                            30% Increase in 30 Days
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
                <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="ion ion-ios-heart-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">UHT Milk</span>
                        <span class="info-box-number">2,050</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 50%"></div>
                        </div>
                        <span class="progress-description">
                            50% Increase in 30 Days
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
                <div class="info-box bg-red">
                    <span class="info-box-icon"><i class="ion ion-ios-cloud-download-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Ghee</span>
                        <span class="info-box-number">1,381</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 20%"></div>
                        </div>
                        <span class="progress-description">
                            20% Decrease in 30 Days
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
                <div class="info-box bg-aqua">
                    <span class="info-box-icon"><i class="ion-ios-chatbubble-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">UHT Chocolate Milk</span>
                        <span class="info-box-number">10,921</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 80%"></div>
                        </div>
                        <span class="progress-description">
                            40% Increase in 30 Days
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
                
               
                <!-- PRODUCT LIST -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Recently Added Products</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <ul class="products-list product-list-in-box">
                            <li class="item">
                                <div class="product-img">
                                    <img src="~/Content/Image/Product/milk_power.jpg" alt="Product Image">
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">
                                        Pasteurized Milk
                                        <span class="label label-warning pull-right">15 TK</span>
                                    </a>
                                    <span class="product-description">
                                        <strong>SKU</strong> - 200 ml
                                    </span>
                                </div>
                            </li>
                            <!-- /.item -->
                            <li class="item">
                                <div class="product-img">
                                    <img src="~/Content/Image/Product/doi-100.jpg" alt="Product Image">
                                    
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">
                                        Butter
                                        <span class="label label-info pull-right">82 TK</span>
                                    </a>
                                    <span class="product-description">
                                        <strong>SKU</strong> - 100 ml
                                    </span>
                                </div>
                            </li>
                            <!-- /.item -->
                            <li class="item">
                                <div class="product-img">
                                    <img src="~/Content/Image/Product/ghe-100.jpg" alt="Product Image">
                                    
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">Ghee <span class="label label-danger pull-right">415 TK</span></a>
                                    <span class="product-description">
                                        <strong>SKU</strong> - 400 gm
                                    </span>
                                </div>
                            </li>
                            <!-- /.item -->
                            <li class="item">
                                <div class="product-img">
                                    <img src="~/Content/Image/Product/borhani-100.jpg" alt="Product Image">
                                    
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">
                                        FCMP
                                        <span class="label label-success pull-right">250 TK</span>
                                    </a>
                                    <span class="product-description">
                                        <strong>SKU</strong> - 500 gm
                                    </span>
                                </div>
                            </li>
                            <!-- /.item -->
                            <li class="item">
                                <div class="product-img">
                                    <img src="~/Content/Image/Product/cream_milk.jpg" alt="Product Image">

                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">
                                        Sweet Curd
                                        <span class="label label-success pull-right">80 TK</span>
                                    </a>
                                    <span class="product-description">
                                        <strong>SKU</strong> - 500 gm
                                    </span>
                                </div>
                            </li>
                            <!-- /.item -->
                        </ul>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer text-center">
                        <a href="javascript:void(0)" class="uppercase">View All Products</a>
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="box-header with-border">
            <h3 class="box-title" style="color: blueviolet; padding-left: 100px">Area Wise Product Demand</h3>
        </div>
        <!--Poligon Map-->
        <div id="chartdiv" style="width: 98%; height: 500px"></div>


    </div>

</section>
<!-- Portfolio End -->



<!-- Testimonial Start -->
<section id="testimonials" class="testimonial-section section-space-padding">
<div class="container">

<!-- MAP & BOX PANE -->
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Todays Sells Officers Visitors Report</h3>

        <strong style="padding-left: 50px; font-size: 20px; color: blueviolet">Select Branch</strong>
        <select>
            <option value="Lalmatia" style="font-size: 17px">Lalmatia</option>
            <option value="Jhigatola" style="font-size: 17px">Jhigatola</option>
            <option value="Mohakhali" style="font-size: 17px">Kolabagan</option>
        </select>

        <strong style="padding-left: 50px; font-size: 20px; color: blueviolet">Select Route</strong>
        <select>
            <option value="Lalmatia" style="font-size: 17px">6/A</option>
            <option value="Jhigatola" style="font-size: 17px">7/A</option>
            <option value="Mohakhali" style="font-size: 17px">8/A</option>
        </select>

        <strong style="padding-left: 50px; font-size: 20px; color: blueviolet">Select SO ID</strong>
        <select>
            <option value="Lalmatia" style="font-size: 17px">Rafiul001</option>
            <option value="Jhigatola" style="font-size: 17px">Abir002</option>
            <option value="Mohakhali" style="font-size: 17px">Srabon003</option>
        </select>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <div class="row">
            <div class="col-md-9 col-sm-8">
                <div class="pad">
                    <!-- Map will be created here -->
                    @*<div id="world-map-markers" style="height: 325px;"></div>*@
                    <div id="map_sells_officers" style="height: 325px; width: 100%"></div>

                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-4">
                <div class="pad box-pane-right bg-green" style="min-height: 280px">
                    <div class="description-block margin-bottom">
                        <div class="sparkbar pad" data-color="#fff">90,70,90,70,75,80,70</div>
                        <h5 class="description-header">8390</h5>
                        <span class="description-text">Visited</span>
                    </div>
                    <!-- /.description-block -->
                    <div class="description-block margin-bottom">
                        <div class="sparkbar pad" data-color="#fff">90,50,90,70,61,83,63</div>
                        <h5 class="description-header">30%</h5>
                        <span class="description-text">Not Visited</span>
                    </div>
                    <!-- /.description-block -->
                    <div class="description-block">
                        <div class="sparkbar pad" data-color="#fff">90,50,90,70,61,83,63</div>
                        <h5 class="description-header">70%</h5>
                        <span class="description-text">Orders</span>
                    </div>
                    <!-- /.description-block -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
<div class="row">
<div class="col-md-6">
    <!-- DIRECT CHAT -->
    <div class="box box-warning direct-chat direct-chat-warning">
        <div class="box-header with-border">
            <h3 class="box-title">Direct Chat</h3>
            <div class="box-tools pull-right">
                <span data-toggle="tooltip" title="3 New Messages" class="badge bg-yellow">3</span>
                
                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle">
                    <i class="fa fa-comments"></i>
                </button>
                
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <!-- Conversations are loaded here -->
            <div class="direct-chat-messages">
                <!-- Message. Default to the left -->
                <div class="direct-chat-msg">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left">Tanvir Hossain</span>
                        <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
                    </div>
                    <!-- /.direct-chat-info -->
                    <img class="direct-chat-img" src="~/Content/dist/img/avatar2.png" alt="message user image"><!-- /.direct-chat-img -->
                    
                    <div class="direct-chat-text">
                         That's unbelievable!
                    </div>
                    <!-- /.direct-chat-text -->
                </div>
                <!-- /.direct-chat-msg -->
                <!-- Message to the right -->
                <div class="direct-chat-msg right">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-right">Abir Hossain</span>
                        <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
                    </div>
                    <!-- /.direct-chat-info -->
                    <img class="direct-chat-img" src="~/Content/dist/img/avatar3.png" alt="message user image"><!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                        You better believe it!
                    </div>
                    <!-- /.direct-chat-text -->
                </div>
                <!-- /.direct-chat-msg -->
                <!-- Message. Default to the left -->
                <div class="direct-chat-msg">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left">Abu Raihan Srabon</span>
                        <span class="direct-chat-timestamp pull-right">23 Jan 5:37 pm</span>
                    </div>
                    <!-- /.direct-chat-info -->
                    <img class="direct-chat-img" src="~/Content/dist/img/avatar3.png" alt="message user image"><!-- /.direct-chat-img -->
                    
                    <div class="direct-chat-text">
                        Working with AdminLTE on a great new app! Wanna join?
                    </div>
                    <!-- /.direct-chat-text -->
                </div>
                <!-- /.direct-chat-msg -->
                <!-- Message to the right -->
                <div class="direct-chat-msg right">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-right">Abir Hossain</span>
                        <span class="direct-chat-timestamp pull-left">23 Jan 6:10 pm</span>
                    </div>
                    <!-- /.direct-chat-info -->
                    <img class="direct-chat-img" src="~/Content/dist/img/avatar.png" alt="message user image"><!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                        I would love to.
                    </div>
                    <!-- /.direct-chat-text -->
                </div>
                <!-- /.direct-chat-msg -->
            </div>
            <!--/.direct-chat-messages-->
            <!-- Contacts are loaded here -->
            <div class="direct-chat-contacts">
                <ul class="contacts-list">
                    <li>
                        <a href="#">
                            <img class="contacts-list-img" src="~/Content/dist/img/avatar2.png" alt="User Image">
                            
                            <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                                    Count Dracula
                                                    <small class="contacts-list-date pull-right">2/28/2015</small>
                                                </span>
                                <span class="contacts-list-msg">How have you been? I was...</span>
                            </div>
                            <!-- /.contacts-list-info -->
                        </a>
                    </li>
                    <!-- End Contact Item -->
                    <li>
                        <a href="#">
                            <img class="contacts-list-img" src="~/Content/dist/img/avatar3.png" alt="User Image">
                            
                            <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                                    Sarah Doe
                                                    <small class="contacts-list-date pull-right">2/23/2015</small>
                                                </span>
                                <span class="contacts-list-msg">I will be waiting for...</span>
                            </div>
                            <!-- /.contacts-list-info -->
                        </a>
                    </li>
                    <!-- End Contact Item -->
                    <li>
                        <a href="#">
                            <img class="contacts-list-img" src="~/Content/dist/img/avatar2.png" alt="User Image">
                            
                            <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                                    Nadia Jolie
                                                    <small class="contacts-list-date pull-right">2/20/2015</small>
                                                </span>
                                <span class="contacts-list-msg">I'll call you back at...</span>
                            </div>
                            <!-- /.contacts-list-info -->
                        </a>
                    </li>
                    <!-- End Contact Item -->
                    <li>
                        <a href="#">
                            <img class="contacts-list-img" src="~/Content/dist/img/avatar3.png" alt="User Image">
                            
                            <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                                    Nora S. Vans
                                                    <small class="contacts-list-date pull-right">2/10/2015</small>
                                                </span>
                                <span class="contacts-list-msg">Where is your new...</span>
                            </div>
                            <!-- /.contacts-list-info -->
                        </a>
                    </li>
                    <!-- End Contact Item -->
                    <li>
                        <a href="#">
                            <img class="contacts-list-img" src="~/Content/dist/img/avatar5.png" alt="User Image">
                            
                            <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                                    John K.
                                                    <small class="contacts-list-date pull-right">1/27/2015</small>
                                                </span>
                                <span class="contacts-list-msg">Can I take a look at...</span>
                            </div>
                            <!-- /.contacts-list-info -->
                        </a>
                    </li>
                    <!-- End Contact Item -->
                    <li>
                        <a href="#">
                            <img class="contacts-list-img" src="~/Content/dist/img/avatar.png" alt="User Image">
                            
                            <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                                    Kenneth M.
                                                    <small class="contacts-list-date pull-right">1/4/2015</small>
                                                </span>
                                <span class="contacts-list-msg">Never mind I found...</span>
                            </div>
                            <!-- /.contacts-list-info -->
                        </a>
                    </li>
                    <!-- End Contact Item -->
                </ul>
                <!-- /.contatcts-list -->
            </div>
            <!-- /.direct-chat-pane -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <form action="#" method="post">
                <div class="input-group">
                    <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-warning btn-flat">Send</button>
                                    </span>
                </div>
            </form>
        </div>
        <!-- /.box-footer-->
    </div>
    <!--/.direct-chat -->
</div>
<!-- /.col -->
<div class="col-md-6">
    <!-- USERS LIST -->
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Latest Members</h3>
            <div class="box-tools pull-right">
                <span class="label label-danger">8 New Members</span>
                
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <ul class="users-list clearfix">
                <li>
                    <img src="~/Content/dist/img/avatar.png" alt="User Image">
                    
                    <a class="users-list-name" href="#">Tanvir Hossain</a>
                    <span class="users-list-date">Today</span>
                </li>
                <li>
                    <img src="~/Content/dist/img/avatar2.png" alt="User Image">
                    
                    <a class="users-list-name" href="#">Abu Raihan</a>
                    <span class="users-list-date">Yesterday</span>
                </li>
                <li>
                    <img src="~/Content/dist/img/avatar3.png" alt="User Image">
                    
                    <a class="users-list-name" href="#">Rafiul Islam</a>
                    <span class="users-list-date">12 Jan</span>
                </li>
                <li>
                    <img src="~/Content/dist/img/avatar5.png" alt="User Image">
                    
                    <a class="users-list-name" href="#">Abir Hossain</a>
                    <span class="users-list-date">12 Jan</span>
                </li>
                <li>
                    <img src="~/Content/dist/img/avatar2.png" alt="User Image">
                    
                    <a class="users-list-name" href="#">Alexander</a>
                    <span class="users-list-date">13 Jan</span>
                </li>
                <li>
                    <img src="~/Content/dist/img/avatar.png" alt="User Image">
                    
                    <a class="users-list-name" href="#">Mohammad Ali</a>
                    <span class="users-list-date">14 Jan</span>
                </li>
                <li>
                    <img src="~/Content/dist/img/avatar04.png" alt="User Image">
                    
                    <a class="users-list-name" href="#">Tuhin Miah</a>
                    <span class="users-list-date">15 Jan</span>
                </li>
                <li>
                    <img src="~/Content/dist/img/avatar5.png" alt="User Image">
                    

                    <a class="users-list-name" href="#">Nadia</a>
                    <span class="users-list-date">15 Jan</span>
                </li>

                
                
            </ul>
            <!-- /.users-list -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-center">
            <a href="javascript:void(0)" class="uppercase">View All Users</a>
        </div>
        <!-- /.box-footer -->
    </div>
    <!--/.box -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</div>



</section>
<!-- Testimonial End -->


<!-- statistics -->
@*<section class="statistics-section section-space-padding bg-cover text-center">
    <div class="container">

        <div class="row">

            

            

        </div>
    </div>
</section>*@
<!-- statistics end -->




<!-- Services Start -->
<section id="services" class="services-section section-space-padding">
    <div class="container">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Compitators Product Information</h3>
                <strong style="padding-left: 50px; font-size: 20px; color: blueviolet">Select Company Name</strong>
                <select>
                    <option value="Lalmatia" style="font-size: 17px">Milk Vita</option>
                    <option value="Jhigatola" style="font-size: 17px">Arla</option>
                    <option value="Mohakhali" style="font-size: 17px">Unilever Bangladesh Limited</option>
                </select>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="row">

                    <table id="companyTable" class="table" style="width: 98%">
                        <thead>
                        <tr class="info">
                            <th>Company Name</th>
                            <th>Products</th>
                            <th>SKU</th>
                            <th>Rate</th>
                            <th>Offers</th>
                        </tr>
                        </thead>

                        <tfoot>
                        <tr class="danger">
                            <th>Company Name</th>
                            <th>Products</th>
                            <th>SKU</th>
                            <th>Rate</th>
                            <th>Offers</th>
                        </tr>
                        </tfoot>

                        <tbody>
                        <tr>
                            <td><strong>Milk Vita</strong></td>
                            <td>Liquid Milk</td>
                            <td>500 ml</td>
                            <td>30 Tk</td>
                            <td>5 Tk</td>
                        </tr>

                        <tr>
                            <td><strong>Milk Vita</strong></td>
                            <td>FCMP</td>
                            <td>500 gm</td>
                            <td>230 Tk</td>
                            <td>N/A</td>
                        </tr>

                        <tr>
                            <td><strong>Milk Vita</strong></td>
                            <td>Butter</td>
                            <td>200 ml</td>
                            <td>270 Tk</td>
                            <td>N/A</td>
                        </tr>

                        <tr>
                            <td><strong>Milk Vita</strong></td>
                            <td>UHT Milk</td>
                            <td>200 ml</td>
                            <td>20 Tk</td>
                            <td>4 TK</td>
                        </tr>

                        </tbody>
                    </table>

                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                <h3>35</h3>
                                <p><strong>Total Product & SKU</strong>
                                </p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-green">
                            <div class="inner">
                                <h3>30<sup style="font-size: 20px">%</sup>
                                </h3>
                                <p><strong>Dominant Market</strong>
                                </p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-yellow">
                            <div class="inner">
                                <h3>FCMP</h3>
                                <p>Popular Product</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-red">
                            <div class="inner">
                                <h3>5%</h3>
                                <p>Average Discount Offers</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>

            </div>
            <!-- /.box-body -->
        </div>

        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Arong Product VS Competitor Product</h3>
                <strong style="padding-left: 50px; font-size: 20px; color: blueviolet">Select Company Name</strong>
                <select>
                    <option value="Lalmatia" style="font-size: 17px">Milk Vita</option>
                    <option value="Jhigatola" style="font-size: 17px">Arla</option>
                    <option value="Mohakhali" style="font-size: 17px">Unilever Bangladesh Limited</option>
                </select>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="row">

                    <table id="compareTable" class="table" style="width: 98%">
                        <thead>
                            <tr class="info">
                                <th>Product Name</th>
                                <th>Arong Market Dominant</th>
                                <th>Competitor Market Dominant</th>
                                <th>Status</th>
                            </tr>
                        </thead>

                        <tfoot>
                            <tr class="danger">
                                <th>Product Name</th>
                                <th>Arong Market Dominant</th>
                                <th>Competitor Market Dominant</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>

                        <tbody>
                            <tr>
                                <td>Pasteurized Milk</td>
                                <td ><strong>40 %</strong></td>
                                <td><strong>30 %</strong></td>
                                <td style="background-color: lightgreen">Arong Dominant With 10 % </td>
                            </tr>

                            <tr>
                                <td>FCMP</td>
                                <td><strong>30 %</strong></td>
                                <td><strong>10 %</strong></td>
                                <td style="background-color: lightgreen">Arong Dominant With 20 % </td>
                            </tr>

                            <tr>
                                <td>Butter</td>
                                <td><strong>25 %</strong></td>
                                <td><strong>45 %</strong></td>
                                <td style="background-color: coral">Milk Vita Dominant With 20 % </td>
                            </tr>

                            <tr>
                                <td>UHT Milk</td>
                                <td><strong>20 %</strong></td>
                                <td><strong>20 %</strong></td>
                                <td>Same Dominant in Market </td>
                            </tr>
                       

                        </tbody>
                    </table>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.box-body -->
        </div>


    </div>
</section>
<!-- Services End -->



<!-- Call to Action Start -->
<section class="call-to-action bg-cover section-space-padding text-center">
    <div class="container">
        <div class="row">
            
        </div>
    </div>
</section>
<!-- Call to Action End -->



<!-- Contact Start -->
<section id="contact" class="section-space-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>Contact Admin.</h2>
                    <div class="divider dark">
                        <i class="icon-envelope-open"></i>
                    </div>
                    <p>Contact with Admin for any kind of query.</p>
                </div>
            </div>
        </div>


        <div class="margin-top-30 margin-bottom-50">
            <div class="row">

                <div class="col-md-offset-3 col-sm-offset-2 col-md-6 col-sm-8">

                    <div class="row">
                        <div class="contact-us-detail"><a href="mailto:name@domain.com">arong@brac.com</a></div>
                        <form class="contact-us pattern-bg">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" id="name" class="form-control" placeholder="First Name">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="email" id="email" class="form-control" placeholder="Last Name">
                                </div>
                            </div>

                            

                            <div class="col-sm-12">
                                <select id="subject" class="form-group form-control">
                                    <option value="" selected disabled>Subject</option>
                                    <option>Password Change Request</option>
                                    <option>Update Product Information</option>
                                    <option>Emergency Contact</option>
                                    <option>Website Not Working Properly</option>
                                    <option>I Want to General Talk</option>
                                    <option>Other</option>
                                </select>
                            </div>

                            <div class="col-sm-12">
                                <div class="textarea-message form-group">
                                    <textarea id="message" class="textarea-message form-control" placeholder="Your Message" rows="5"></textarea>
                                </div>
                            </div>


                            <div class="text-center">
                                <button type="submit" class="button button-style button-style-dark button-style-color-2">Submit</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- Contact End -->








@*****Map for track all store*****@
<script>

    function initMap() {
        //****Map for track all store****
        var mapForStore = new google.maps.Map(document.getElementById('map'),
        {
            zoom: 16,
            center: { lat: 23.742971, lng: 90.373694 }
        });
        addMarker(mapForStore);


        //*****Map For Sells Officers*****
        var mapForSellsOfficer = new google.maps.Map(document.getElementById('map_sells_officers'),
        {
            zoom: 14,
            center: { lat: 23.751121, lng: 90.368289 }
        });
        addMarkerForOfficer(mapForSellsOfficer);
  
    }

    var stores = [
        ['Madina Store', 23.745532, 90.377631, 1, 'Kolabagan', 'J11', 'Visited'],
        ['King Store', 23.742971, 90.373694, 2, 'Kolabagan', 'J12', 'Visited'],
        ['Mina Bazar', 23.753759, 90.370551, 3, 'Lalmatia', 'L11', 'Not Visited'],
        ['Almas Super Shop', 23.751121, 90.368289, 4, 'Lalmatia', 'L12', 'Visited'],
        ['Agura', 23.758276, 90.373939, 5, 'Lalmatia', 'L13', 'Visited'],
        ['Mina Store', 23.739647, 90.370729, 6, 'Jhigatola', 'J11', 'Visited'],
        ['Arora Store', 23.739687, 90.370944, 7, 'Jhigatola', 'J12', 'Visited'],
        ['Milk Store', 23.739628, 90.371734, 8, 'Jhigatola', 'J13', 'Not Visited'],
        ['Anika Super Shop', 23.739636, 90.371826, 9, 'Jhigatola', 'J14', 'Not Visited'],
        ['Khadem Store', 23.738594, 90.372488, 10, 'Jhigatola', 'J15', 'Visited'],
        ['Mina Store', 23.738291, 90.372576, 11, 'Jhigatola', 'J16', 'Not Visited'],
        ['Mina Store', 23.738348, 90.372752, 12, 'Jhigatola', 'J17', 'Visited'],
        ['Mina Store', 23.780493, 90.405618, 13, 'Mohakhali', 'M11', 'Not Visited'],
        ['Mina Store', 23.780247, 90.406832, 14, 'Banani', 'B11', 'Visited'],
        ['Mina Store', 23.779895, 90.406865, 15, 'Banani', 'B12', 'Visited'],
        ['Mina Store', 23.779755, 90.407674, 16, 'Banani', 'B13', 'Not Visited'],
        ['Mina Store', 23.779788, 90.407502, 17, 'Banani', 'B14', 'Not Visited'],
        ['Mina Store', 23.780513, 90.406951, 18, 'Banani', 'B15', 'Visited'],
        ['Mina Store', 23.780788, 90.406976, 19, 'Banani', 'B16', 'Visited']
    ];

    var sellsOfficers = [
        ['Abir Hossain', 23.745532, 90.377631, 1, 'Jigatala', 1200, 1150],
        ['Srabon', 23.742971, 90.373694, 2, 'Jigatala', 1500, 1400],
        ['Tanvir Hossain', 23.753759, 90.370551, 3, 'Lalmatia', 1000, 1000],
        ['Rafiul Islam', 23.751121, 90.368289, 4, 'Lalmatia', 800, 780],
        ['Mohammad Ali', 23.758276, 90.373939, 5, 'Lalmatia', 2200, 2100]
    ];


    function addMarker(map) {
        //var image = {
        //    //url: 'http://labs.google.com/ridefinder/images/mm_20_green.png',
        //    url: 'https://drive.google.com/file/d/0B7anVMzSHmNfVHZPNmlNbUFtUmc/view?usp=sharing',
        //    size: new google.maps.Size(40, 40),
        //    origin: new google.maps.Point(0, 0),
        //    anchor: new google.maps.Point(0, 40)
        //};

        

        var infowindow = new google.maps.InfoWindow({
            content: "Holding----"
        });
        for (var i = 0; i < stores.length; i++) {

            var storeInfo = stores[i];
            var storeDetails = "<strong>Store Name : </strong>" +
                storeInfo[0] +
                "<br>" +
                "<strong>Branch Name : </strong>" +
                storeInfo[4] +
                "<br>" +
                "<strong>Route Id : </strong>" +
                storeInfo[5] +
                "<br>" +
                "<strong>Order Status : </strong>" +
                storeInfo[6];
            var location = { lat: storeInfo[1], lng: storeInfo[2] };
            var marker = new google.maps.Marker({
                position: location,
                map: map,
                title: storeInfo[0],
                zIndex: storeInfo[3],
                label: storeInfo[3].toString(),
                info: storeDetails
                //icon: image
            });

            google.maps.event.addListener(marker,
                'click',
                function() {
                    infowindow.setContent(this.info);
                    infowindow.open(map, this);
                });
        }

    }

    function addMarkerForOfficer(map) {


        var infowindow = new google.maps.InfoWindow({
            content: "Holding----"
        });
        for (var i = 0; i < sellsOfficers.length; i++) {

            var officerInfo = sellsOfficers[i];
            var officerDetails = "<strong>Sells Officer Name : </strong>" +
                officerInfo[0] +
                "<br>" +
                "<strong>Branch Name : </strong>" +
                officerInfo[4] +
                "<br>" +
                "<strong>Total Order : </strong>" +
                officerInfo[5] +
                    "<br>" +
                "<strong>Total Sells : </strong>" +
                officerInfo[6];
            var location = { lat: officerInfo[1], lng: officerInfo[2] };
            var marker = new google.maps.Marker({
                position: location,
                map: map,
                title: officerInfo[0],
                zIndex: officerInfo[3],
                label: officerInfo[3].toString(),
                info: officerDetails
            });

            google.maps.event.addListener(marker,
                'click',
                function () {
                    infowindow.setContent(this.info);
                    infowindow.open(map, this);
                });
        }

    }

</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKNLuc0aAp4ODCvwJ3Wky9qdLdpEXYw6Q&callback=initMap">
</script>



<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>

<script type="text/javascript">
    $(document)
        .ready(function () {
            $('#myStoreTable').DataTable({ responsive: true });

        });

</script>





<!-- Resources -->
<script src="https://www.amcharts.com/lib/3/ammap.js"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/bangladeshLow.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/none.js"></script>

<!-- Chart code -->
<script>
    var map = AmCharts.makeChart("chartdiv", {
        "type": "map",
        "theme": "none",
        "colorSteps": 10,

        "dataProvider": {
            "map": "bangladeshLow",
            "areas": [{
                "id": "BD-A",
                "value": 64710000
            }, {
                "id": "BD-B",
                "value": 626932
            }, {
                "id": "BD-C",
                "value": 5130632
            }, {
                "id": "BD-D",
                "value": 2673400
            }, {
                "id": "BD-E",
                "value": 33871648
            }, {
                "id": "BD-F",
                "value": 14301261
            }, {
                "id": "BD-G",
                "value": 11005565
            }]
        },

        "areasSettings": {
            "autoZoom": true,
            "balloonText": "[[title]]: <strong>[[value]]</strong>"
        },

        "valueLegend": {
            "right": 10,
            "minValue": "little",
            "maxValue": "a lot!"
        },

        "export": {
            "enabled": true
        }

    });
</script>
